---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<style>
    .post-img {
        background: gray;
        padding: 6px;
        border-radius: 4px;
    }
</style>

<BaseLayout pageTitle={frontmatter.title}>
    <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by {frontmatter.author}</p>
    <img class="post-img" src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot />
</BaseLayout>
